// App Layout
.app {
  background: $app-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: $base-spacing 0;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2 * $base-spacing;
    position: relative;
    transition: $transition;
  }
}
