// App Layout
.app {
  background: $app-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: $base-spacing 0;

  @include larger-than(mobile) {
    justify-content: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2 * $base-spacing;
    position: relative;
    transition: $transition;
    width: 100%;
    padding: 0 $base-spacing;

    @include larger-than(mobile) {
      width: $container-width;
      padding: 0;
    }
  }
}
