// Logo
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2 * $base-spacing;

  &__title {
    font-weight: $font-weight-bold;
    color: $text-primary;
    font-size: $font-large-size;
  }

  &__subtitle {
    padding-top: $base-spacing;
    font-weight: $font-weight-regular;
    color: $text-tertiary;
    font-size: $font-small-size;
  }
}
