// QRCode
.qrcode {
  width: 40px;
  height: 40px;
  position: relative;
  margin-bottom: 20px;

  &--opened {
    width: 100px;
    height: 100px;
  }

  &__img{
    width: 40px;
    height: 40px;
    background-color: $text-tertiary;
    border-radius: 2pt;
    box-shadow: 0pt 2pt 2pt 0pt $text-secondary;
    
    &:hover{
      cursor: pointer;
    }

    &--opened {
      box-shadow: none;
      background-color: transparent;
      width: 32px;
      height: 32px;
      position: absolute;
      z-index: 10;
      right: 0;
    }
  }
}
