// Submit
.submit {
  height: $icon-size;
  width: $icon-size;
  border-radius: 50%;
  background: $background-primary;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: $border;
  cursor: pointer;
  bottom: -90px;
  right: calc(50% - (#{$icon-size} / 2));
  z-index: 3;

  @include larger-than(tablet) {
    border-radius: 50%;
    margin-left: 2 * $base-spacing;
    right: -100px;
    bottom: 0;
  }

  &:hover {
    .submit__asset {
      opacity: 1;
    }
  }

  &__asset {
    width: 60%;
    opacity: 0.6;
  }

  &__close {
    bottom: auto;
    border-radius: unset;
    border: 0;
    right: 0px;
    height: 60px;
    width: 60px;
  }
}
